*, *:link, *:visited, *:hover, *:active, *:focus {
  outline: none; !important
}

body {
  background: url('http://i1073.photobucket.com/albums/w381/jhadams82/congruent_outline_zpssbqskg4q.png');
}

a, a:link, a:visited, a:hover, a:active {
  color: #5cb85c;
  text-decoration: none;
}

.clock-face {
  background: #191716;
  border-radius: .5em;
  padding: .5em;
  text-align: center;
  color: #5cb85c;
  font-family: "Righteous", sans-serif;
  font-size: 4em;
}

#work-timer,
#break-timer {
  display: inline-block;
}

.timer-btn,
.timer-btn:focus,
.timer-lbl {
  background: #191716;
  border-color: #5cb85c;
  color: #5cb85c;
  -webkit-transition: background-color .25s;
  -moz-transition: background-color .25s;
  -o-transition: background-color .25s;
  -ms-transition: background-color .25s;
  transition: background-color .25s;
}

.timer-btn:hover {
  background-color: #333;
  color: #5cb85c;
}

.timer-control {
  width: 1em;
  margin: 0 auto;
}

.my-btn {
  font-family: "Verdana", sans-serif;
  font-weight: bold;
  font-size: .35em;
  color: #222;
}
